@model WorkAppp.Models.Metrial

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Metrial</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Store)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Supply)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Supply)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalQuantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvailableQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvailableQuantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
